.invoice-description-item {
  font-size: 13px;
  color: #607d8b;
  margin-top: 9px;
  margin-bottom: 29px;
}

.invoice-item {
  font-size: 14px;
  margin-bottom: 2px;
}

.invoice-list-item {
  font-size: 16px;
  margin-bottom: 2px;
}


.container-fluid {
  width: 65%;
}


.edit-invoice-btn {
  color: #039be5;
  background-color: #FFFFFF;
  position: relative;
}

.edit-invoice-btn:after{
  content: '';
  position: absolute;
  width: 0; height: 4px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #039be5;
  transition: width .3s ease;
  -webkit-transition: width .3s ease;
}

.edit-invoice-btn:hover:after{
  width: 100%;
  left: 0;
  background: #039be5;
}

.edit-invoice-btn:focus, .edit-btn:active{
  outline: none;
  box-shadow: none;
}
