<div class="container-fluid">
  <div class="flex-row">
    <div class="flex-column d-flex">
      <div *ngIf="invoice">
        <div class="d-flex justify-content-between">
          <div class="d-inline-flex">
            <h3><i class="fas fa-file-alt "></i> Faktura {{invoice.invoiceNumber}}</h3>
            <button type="button" class="btn btn-info mb-1 ml-3" style="width: 100px;" (click)="generatePdf()">PDF</button>
          </div>
          <button type="button" class="btn edit-invoice-btn mb-1" *ngIf="currentUserRole === 'ROLE_USER'" (click)="navigateToInvoiceEdit()">Edytuj</button>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <span class="invoice-description-ivetem">KLIENT</span>
                <hr />
                <p class="invoice-item">{{invoice.client.name}}</p>
                <p class="invoice-item">{{invoice.client.street}}</p>
                <p class="invoice-item">{{invoice.client.postcode}} {{invoice.client.city}}</p>
                <p class="invoice-item"><span class="invoice-description-item">NIP: </span>{{invoice.client.nip}}</p>
              </div>
              <div class="col-3">
                <span class="invoice-description-item">TERMINY</span>
                <hr />
                <p class="invoice-item"><span class="invoice-description-item">Data wystawienia: </span>{{invoice.createDate}}</p>
                <p class="invoice-item"><span class="invoice-description-item">Data sprzedaży: </span>{{invoice.saleDate}}</p>
                <p class="invoice-item"><span class="invoice-description-item">Termin zapłaty: </span>{{invoice.paymentDate}}</p>
              </div>

              <div class="col-3">
                <span class="invoice-description-item">PŁATNOŚĆ</span>
                <hr />
                <p class="invoice-item"><span class="invoice-description-item">Sposób zapłaty: </span>{{invoice.paymentType.name}}</p>
              </div>


          </div>
            <div class="row">
              <div class="col">
                <div class="card-header mb-4">
                  <div class="row">
                    <div class="col-4"><label for="position_name">Nazwa towaru lub usługi</label></div>
                    <div class="col-1"><label for="position_unit">J.m.</label></div>
                    <div class="col-1"><label for="position_quantity">Ilość</label></div>
                    <div class="col-1"><label for="position_netPrice">Cena netto</label></div>
                    <div class="col-1"><label for="position_netValue">Wartość netto</label></div>
                    <div class="col-1"><label for="position_vatType">Stawka VAT</label></div>
                    <div class="col-1"><label for="position_vatValue">Kwota VAT</label></div>
                    <div class="col-1"><label for="position_grossValue">Wartość brutto</label></div>
                  </div>
                </div>
                <div class="row pb-2" *ngFor="let position of invoice.invoicePositions">
                  <div class="col">
                    <div class="row">
                      <div class="col-4 invoice-list-item ml-3" id="position_name">{{position.name}}</div>
                      <div class="col-1 invoice-list-item" id="position_unit">{{position.unit}}</div>
                      <div class="col-1 invoice-list-item" id="position_quantity">{{position.quantity}}</div>
                      <div class="col-1 invoice-list-item" id="position_netPrice">{{position.netPrice}}</div>
                      <div class="col-1 invoice-list-item" id="position_netValue">{{position.netValue}}</div>
                      <div class="col-1 invoice-list-item" id="position_vatType">{{position.vatType.name}}</div>
                      <div class="col-1 invoice-list-item" id="position_vatValue">{{position.vatValue}}</div>
                      <div class="col-1 invoice-list-item" id="position_grossValue">{{position.grossValue}}</div>
                    </div>
                    <hr />
                  </div>
                </div>

                <div class="row">
                  <div class="col-4 ml-3"></div>
                  <div class="col-1"></div>
                  <div class="col-1"></div>
                  <div class="col-1 font-weight-bold">Razem:</div>
                  <div class="col-1 font-weight-bold">{{invoice.netAmount}}</div>
                  <div class="col-1">-</div>
                  <div class="col-1 font-weight-bold">{{invoice.vatAmount}}</div>
                  <div class="col-1 font-weight-bold">{{invoice.grossAmount}}</div>
                </div>

                <div class="row" *ngFor="let invoiceVat of invoice.invoiceVats">
                  <div class="col-4 ml-3"></div>
                  <div class="col-1"></div>
                  <div class="col-1"></div>
                  <div class="col-1 font-weight-bold" *ngIf="invoiceVat == invoice.invoiceVats[0]">W tym</div>
                  <div class="col-1" *ngIf="invoiceVat != invoice.invoiceVats[0]"></div>
                  <div class="col-1">{{invoiceVat.netValue}}</div>
                  <div class="col-1">{{invoiceVat.vatType.name}}</div>
                  <div class="col-1">{{invoiceVat.vatValue}}</div>
                  <div class="col-1">{{invoiceVat.grossValue}}</div>
                </div>
                <hr />


                <div class="row">
                  <div class="col-11 ml-3" style="text-align: right;">Razem: <span class="font-weight-bold h5">{{invoice.grossAmount}}</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-1 mb-3">
          <button type="button" class="btn btn-danger" *ngIf="currentUserRole === 'ROLE_USER'" (click)="deleteInvoice()">Usuń fakturę</button>
        </div>

      </div>
    </div>
  </div>
</div>
