<div class="responsive container">
  <div class="row">
    <div class="col">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Zapisane szablony:</h4></div>
        <div class="panel-body">
          test test
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Ostatnie faktury:</h4></div>
        <div class="panel-body">
          test test test test <br>
          sdad
        </div>
      </div>
    </div>
  </div>

</div>
