<div class="container">
  <div class="flex-row">
    <div class="flex-column d-flex">
      <div class="d-flex justify-content-between">
        <h3><i class="far fa-address-book "></i> Klienci</h3>
        <button type="button" class="btn btn-sm new-client-btn" routerLink="/user/clients/new"><i class="fas fa-plus"></i> NOWY KLIENT</button>
      </div>
      <div class="card">
        <div class="card-body">
          <div *ngIf="clients">
            <table datatable [dtOptions]="dtOptions" class="row-border hover">
              <thead>
              <tr>
                <th>Nazwa firmy</th>
                <th>Adres email</th>
                <th>Telefon</th>
                <th></th>
                <th class="none">NIP</th>
                <th class="none">Miejscowość</th>
                <th class="none">Ulica</th>
                <th class="none">Kod pocztowy</th>
                <th class="none">Strona internetowa</th>
                <th class="none">Notatki</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let client of clients">
                <td>{{ client.name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
                <td><button type="button" class="btn btn-outline-info" (click)="navigateToClientDetailsEdit(client.id)">Edytuj</button></td>
                <td class="none">{{client.nip}}</td>
                <td class="none">{{client.city}}</td>
                <td class="none">{{client.street}}</td>
                <td class="none">{{client.postcode}}</td>
                <td class="none">{{client.website}}</td>
                <td class="none">{{client.comment}}</td>
              </tr>

              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
