<nav class="navbar navbar-expand-lg navbar-light bg-light border mb-4">
  <a class="navbar-brand" routerLink="/user/dashboard">Fakturowanie24</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">

      <button type="button" class="nav-link nav-item btn btn-light mr-1" routerLink="/user/dashboard" routerLinkActive="active">Panel główny <span class="sr-only">(current)</span></button>
      <button type="button" class="nav-item nav-link btn btn-light mr-1" routerLink="/user/invoices" routerLinkActive="active">Faktury</button>
      <button type="button" class="nav-item nav-link btn btn-light mr-1" routerLink="/user/clients" routerLinkActive="active">Klienci</button>
    </div>
    <div class="navbar-nav">
      <button type="button" class="nav-link nav-item btn btn-light mr-1" routerLink="/user/settings" routerLinkActive="active"><i class="fas fa-user"></i> Użytkownik</button>
      <button type="button" class="nav-item nav-link btn btn-light mr-1" routerLink="#"><i class="fas fa-sign-out-alt"></i> Wyloguj</button>
    </div>
  </div>
</nav>

