<nav class="navbar navbar-expand-lg navbar-light bg-light border mb-4">
  <a class="navbar-brand" routerLink="/dashboard">Fakturowanie24</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
      <a class="nav-link nav-item" routerLink="/dashboard" routerLinkActive="active">Panel główny <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/heroes" routerLinkActive="active">Faktury</a>
      <a class="nav-item nav-link" routerLink="#" routerLinkActive="active">Klienci</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="#"><i class="fas fa-user"></i> Użytkownik</a>
      <a class="nav-item nav-link" routerLink="#"><i class="fas fa-sign-out-alt"></i> Wyloguj</a>
    </div>
  </div>
</nav>

