<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between">
        <h3><i class="fas fa-address-book "></i> Nowy klient</h3>
      </div>
      <div class="card">
        <div class="card-body">
          <p>Wyszukaj klienta po NIP:</p>
          <div class="row">
            <div class="flex-column pl-3">
              <p class="company-description-item"><label for="nip-search">NIP</label></p>
            </div>
            <div class="col-4">
              <div class="input-group mb-3">
                <input #nipSearch id="nip-search" name="nip_search" class="form-control" type="text" required="" [(ngModel)]="searchNip">
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary" [disabled]="!searchNip" (click)="loadInvoiceData(nipSearch.value)"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <form #clientForm="ngForm" (ngSubmit)="saveClient()">
                <div class="row">
                  <div class="col pr-4">
                    <div class="row">
                      <div class="col-3">
                        <p class="company-description-item"><label for="name">Nazwa firmy</label></p>
                      </div>
                      <div class="col">
                        <textarea type="text" id="name" name="name" [(ngModel)]="client.name" rows="2"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <p class="company-description-item"><label for="street">Ulica</label></p>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" id="street" name="street" [(ngModel)]="client.street">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <p class="company-description-item"><label for="postcode">Kod pocztowy</label></p>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" id="postcode" name="postcode" [(ngModel)]="client.postcode">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <p class="company-description-item"><label for="city">Miejscowość</label></p>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" id="city" name="city" [(ngModel)]="client.city">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <p class="company-description-item"><label for="city">NIP</label></p>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" id="nip" name="nip" [(ngModel)]="client.nip">
                      </div>
                    </div>
                  </div>


                  <div class="col pl-4">
                    <div class="row">
                      <div class="col-3">
                        <p class="company-description-item"><label for="phone">Numer telefonu</label></p>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="client.phone">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <p class="company-description-item"><label for="email">Adres email</label></p>
                      </div>
                      <div class="col">
                        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="client.email">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <p class="company-description-item"><label for="website">Strona internetowa</label></p>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" id="website" name="website" [(ngModel)]="client.website">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <p class="company-description-item"><label for="comment">Notatki</label></p>
                      </div>
                      <div class="col">
                        <textarea type="text" id="comment" name="comment" [(ngModel)]="client.comment"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <button type="submit" class="btn btn-info w-75 mt-2 float-right">ZAPISZ</button>
                      </div>
                    </div>


                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
