<div>
  <div class="row pt-2">
    <div class="col-4">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <div class="card add-panel">
            <div class="card-header"><h4>Zapisane szablony:</h4></div>
            <div class="card-body ">
              test test
            </div>
          </div>

        </div>
      </div>





    </div>


    <div class="col-7">
      <div class="flex-row mb-3">
        <div class="card">
          <div class="card-header"><h4>Zapisane szablony:</h4></div>
          <div class="card-body">
            test test
          </div>
        </div>
      </div>

      <div class="flex-row">
        <div class="card">
          <div class="card-header"><h4>Ostatnie faktury:</h4></div>
          <div class="card-body">
            test test test test <br>
            sdad
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
