.invoice-description-item {
  font-size: 13px;
  color: #607d8b;
  margin-top: 9px;
  margin-bottom: 29px;
}

.invoice-item {
  font-size: 14px;
  margin-bottom: 2px;
}

.invoice-list-item {
  font-size: 16px;
  margin-bottom: 2px;
}


.container-fluid {
  width: 65%;
}
