<div class="container-fluid">
  <div class="flex-row">
    <div class="flex-column d-flex">
      <div class="d-flex justify-content-between">
        <h3><i class="fas fa-file-alt "></i> Nowa faktura</h3>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-1">
              <p class="invoice-description-item"><label for="number">Numer</label></p>
            </div>
            <div class="col-2">
              <input class="invoice-item" type="text" id="number" name="number" [disabled]="!editInvoiceNumberMode" [(ngModel)]="invoice.invoiceNumber" required />
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-sm change-btn" (click)="changeEditInvoiceNumberMode()">Zmień</button>
            </div>

            <div class="col-1">
              <p class="invoice-description-item"><label for="client">Klient</label></p>
            </div>
            <div class="col-3">
              <select id="client" name="client" class="form-control select" [(ngModel)]="invoice.client">
                <option *ngFor="let client of clients" [ngValue]="client">{{client.name}}</option>
              </select>
          </div>

            <div class="col-1">
              <p class="invoice-description-item"><label for="paymentType">Sposób płatności</label></p>
            </div>
            <div class="col-3">
              <select id="paymentType" name="paymentType" class="form-control select" [(ngModel)]="invoice.paymentType">
                <option *ngFor="let paymentType of paymentTypes" [ngValue]="paymentType">{{paymentType.name}}</option>
              </select>
            </div>

            <div class="row">

              <div class="col-2">
                <p class="invoice-description-item"><label for="createDate">Data wystawienia</label></p>
              </div>
              <div class="col-2">
                <div class="input-group">
                  <input class="form-control" id="createDate" name="createDate" [(ngModel)]="createDateInvoice"  (ngModelChange)="createDateChange($event)" ngbDatepicker #createDate="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="createDate.toggle()" type="button"><i class="far fa-calendar-alt "></i></button>
                  </div>
                </div>
              </div>

              <div class="col-2">
                <p class="invoice-description-item"><label for="saleDate">Data sprzedaży</label></p>
              </div>
              <div class="col-2">
                <div class="input-group">
                  <input class="form-control" id="saleDate" name="saleDate" [(ngModel)]="saleDateInvoice"  (ngModelChange)="saleDateChange($event)" ngbDatepicker #saleDate="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="saleDate.toggle()" type="button"><i class="far fa-calendar-alt "></i></button>
                  </div>
                </div>
              </div>

              <div class="col-2">
                <p class="invoice-description-item"><label for="paymentDate">Data zapłaty</label></p>
              </div>
              <div class="col-2">
                <div class="input-group">
                  <input class="form-control" id="paymentDate" name="paymentDate" [(ngModel)]="paymentDateInvoice"  (ngModelChange)="paymentDateChange($event)"  ngbDatepicker #paymentDate="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="paymentDate.toggle()" type="button"><i class="far fa-calendar-alt "></i></button>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <hr />

          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col-5"><label for="position_name">Nazwa towaru lub usługi</label></div>
                <div class="col-1"><label for="position_unit">J.m.</label></div>
                <div class="col-1"><label for="position_quantity">Ilość</label></div>
                <div class="col-1"><label for="position_netPrice">Cena netto</label></div>
                <div class="col-1"><label for="position_netValue">Wartość netto</label></div>
                <div class="col-1"><label for="position_vatType">Stawka VAT</label></div>
                <div class="col-1"><label for="position_vatValue">Kwota VAT</label></div>
                <div class="col-1"><label for="position_grossValue">Wartość brutto</label></div>
              </div>

              <div class="row pb-2" *ngFor="let position of invoicePositions">
                <div class="col-5">
                  <!--TODO pole kombi-->
                  <input id="position_name" name="position_name" #positionName class="form-control" [(ngModel)]="position.name" />
                </div>
                <div class="col-1">
                  <input id="position_unit" name="position_unit" #positionUnit class="form-control" [(ngModel)]="position.unit" />
                </div>
                <div class="col-1">
                  <input id="position_quantity" name="position_quantity" #positionQuantity class="form-control" [(ngModel)]="position.quantity" (ngModelChange)="position.netValue = calculateNetValue(position.quantity, position.netPrice); position.vatValue = calculateVatAmount(position.netValue, position.vatType.value); position.grossValue = calculateGrossValue(position.netValue, position.vatValue); invoice.grossAmount = calculateInvoiceGrossAmount(); invoice.netAmount = calculateInvoiceNetAmount()" />
                </div>
                <div class="col-1">
                  <input id="position_netPrice" name="position_netPrice" #positionNetPrice class="form-control" [(ngModel)]="position.netPrice" (ngModelChange)="position.netValue = calculateNetValue(position.quantity, position.netPrice); position.vatValue = calculateVatAmount(position.netValue, position.vatType.value); position.grossValue = calculateGrossValue(position.netValue, position.vatValue); invoice.grossAmount = calculateInvoiceGrossAmount(); invoice.netAmount = calculateInvoiceNetAmount()" />
                </div>
                <div class="col-1">
                  <input id="position_netValue" name="position_netValue" #positionNetValue class="form-control" [(ngModel)]="position.netValue"  (ngModelChange)="position.netPrice = calculateNetPrice(position.netValue, position.quantity); position.vatValue = calculateVatAmount(position.netValue, position.vatType.value); position.grossValue = calculateGrossValue(position.netValue, position.vatValue); invoice.grossAmount = calculateInvoiceGrossAmount(); invoice.netAmount = calculateInvoiceNetAmount()"/>
                </div>
                <div class="col-1">
                  <select id="position_vatType" name="position_vatType" #positionVatType class="form-control"   [(ngModel)]="position.vatType" (ngModelChange)="position.vatValue = calculateVatAmount(position.netValue, position.vatType.value); position.grossValue = calculateGrossValue(position.netValue, position.vatValue); invoice.grossValue = calculateInvoiceGrossAmount(); invoice.netValue = calculateInvoiceNetAmount()">
                    <option *ngFor="let vatType of vatTypes" [ngValue]="vatType">{{vatType.name}}</option>
                  </select>

                </div>
                <div class="col-1">
                  <input id="position_vatValue" name="position_vatValue" #positionVatValue class="form-control" [(ngModel)]="position.vatValue" />
                </div>
                <div class="col-1">
                  <input id="position_grossValue" name="position_grossValue" #positionGrossValue class="form-control" [(ngModel)]="position.grossValue" />
                </div>

              </div>
            </div>
          </div>

          <div class="row d-flex justify-content-between">
            <button type="button" class="btn btn-success  mt-3 ml-3" (click)="addInvoicePosition()"><i class="fas fa-plus"></i> Dodaj pole</button>
            <button type="button" class="btn btn-danger  mt-3 mr-3" [disabled]="invoicePositions.length <= 1" (click)="removeLastInvoicePosition()"><i class="fas fa-minus"></i> Usuń ostatnie pole</button>

          </div>

          <hr />

          <div class="row">
            <div class="col-10">
              <p class="invoice-description-item"><label for="invoice-net">Całkowita wartość netto</label></p>
            </div>
            <div class="col-2">
              <p class="invoice-item" style="text-align: right" type="text" id="invoice-net">{{invoice.netAmount}} zł</p>
            </div>
          </div>

          <div class="row">
            <div class="col-10">
              <p class="invoice-description-item"><label for="invoice-gross">Całkowita wartość brutto</label></p>
            </div>
            <div class="col-2">
              <p class="invoice-item" style="text-align: right" type="text" id="invoice-gross">{{invoice.grossAmount}} zł</p>
            </div>
          </div>

          <div class="row float-right">
            <div class="flex-column mr-3">
              <button type="button" class="btn btn-primary" (click)="saveInvoice()" ><i class="fas fa-check"></i> Zapisz fakturę</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

