<div class="d-flex align-items-center flex-column justify-content-center bg-dark text-white" id="header" style="height: 90vh">
  <h1 class="display-4">Hello.</h1>
  <form>
    <div class="form-group">
      <input class="form-control form-control-lg" placeholder="Email" type="text">
    </div>
    <div class="form-group">
      <input class="form-control form-control-lg" placeholder="Password" type="text">
    </div>
    <div class="form-group">
      <button class="btn btn-info btn-lg btn-block">Sign In</button>
    </div>
  </form>
</div>
